
                <!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Parallex-Slider</title>
                </head>
                <body>
                    <h1>Parallex-Slider</h1>
                    <p>web page, easy-to-use, perfect for adding depth and motion to your content</p>
                    <p><strong>Details:</strong> ParallaxSlider</p>
                </body>
                </html>
                